
body {
	background-image: url("../images/background1.jpg");
	background-size: 100%;
}

main {
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;

	animation: mainFadeInAnimation 3s 1 forwards;
}

@keyframes mainFadeInAnimation {
	from { opacity: 0; }
	to { opacity: 1; }
}

footer {
	display: inline-block;
	position: fixed;
	bottom: 0px;
	left: 0px;

	height: 30px;
	line-height: 30px;
	width: 100%;

	background: gray;
	color: white;

	text-align: center;
}

.mainHeader {
	display: inline-block;
	width: 100%;

	text-indent: 5%;
	background: #FFDDCC;
	border-top: 4px solid #CCAA99;
	border-bottom: 4px solid #CCAA99;
}

.mainHeader h1 {
	color: #FFDDCC;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
	    -1px 1px 0 black,
	    1px 1px 0 black, 

		-1px 0px 0 black,
		1px 0px 0 black,
	    0px -1px 0 black,
	    0px 1px 0 black, 
	    
		0px 0px 3px black;
}

#changeBackgroundAside {
	float: left;
	top: 10px;
	left: 10px;
}

#comboBox {
	background: #FFDDCC;
}

.menu li{
	float: left;
	display: block;
	width: 22%;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	background: white;
	margin: 2px;
	padding: 2px;
	color: blue;
}

.menu li:hover {
	animation-name: menuListAnimation;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes menuListAnimation {
	to { background: black; color: white; }
}

#toMainPage {
	float: right;
	display: block;

	width: 120px;
	height: 20px;

	text-align: center;
	border: 1px solid black;
	background: white;

	margin: 2px;
	padding: 2px;
}

#toMainPage a {
	color: blue;
	text-decoration: none;
}

#imgCopyright {
	position: fixed;

	bottom: 20px;
	left: 10px;
}