.detailsSection {
	margin-left: -20px;
}

details {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

details article {
	border: 1px solid black;
	padding: 5px;
}

details article p {
	text-indent: 1em;
}