
table {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;

	border: 2px solid black;
	border-collapse: collapse;
}

table th { width: 200px; height: 20px; min-width: 110px; background: gray; }
table th:hover { background: lightslategray; color: white;}

table td { width: 200px; height: 20px; padding-left: 15px; background: aliceblue; }
table td:hover { background: lightblue; }

.futurePlanList {
	list-style: lower-roman;
	margin: 1px;
}

.futurePlanList li {
	margin-left: -25px;
}

.futurePlanList li:hover {
	animation: futurePlanListColorAnimation 1s 1 forwards;
}

@keyframes futurePlanListColorAnimation {
	to { color: blue; }
}